__pycache__/
*.py[cod]
*.pyo
.DS_Store
.superpowers/
.worktrees/

.venv/
.venv
venv/
env/

output/
/.run/
dist/
build/
*.spec
!build.spec
!build_mac.spec

.weibo_book_cookies
.weibo_book_cookies_dev
*.log
